In [34]:
import pandas as pd

In [35]:
my_cgpa = pd.Series([3.8, 3.3, 3.75, 3.83], index=['1/1', '1/2', '2/1', '2/2'])

In [36]:
my_cgpa

1/1    3.80
1/2    3.30
2/1    3.75
2/2    3.83
dtype: float64

In [37]:
cgpa = [3.8, 3.3, 3.75, 3.83]
semester = ['1/1', '1/2', '2/1', '2/2']

result = pd.DataFrame({'cgpa' : cgpa, 'semester' : semester})

In [38]:
result

   cgpa semester
0  3.80      1/1
1  3.30      1/2
2  3.75      2/1
3  3.83      2/2

In [48]:
result.loc[[1,3], ['semester','cgpa']]

  semester  cgpa
1      1/2  3.30
3      2/2  3.83