In [23]:
r = range(2, 15)

In [24]:
r

range(2, 15)

In [25]:
for x in r: print(x, end=" ")

2 3 4 5 6 7 8 9 10 11 12 13 14

In [29]:
r = range(2, 21, 3)

In [31]:
r

range(2, 21, 3)

In [30]:
for x in r: print(x, end=" ")

2 5 8 11 14 17 20

# complex numbers

In [32]:
a = 5+3j 
b = 5-3j

In [33]:
a

(5+3j)

In [34]:
a+b

(10+0j)

# long numbers

In [43]:
a = 50_00_00_000 #use of '_' to make long numbers more readable

In [44]:
a

500000000

In [45]:
type(a)

int

# List indexing, slicing

In [48]:
students = ["bustan", "shashi", "lukman", "nahiyan", "mustafiz", "mahin", "shafi", "shaon"] 
# total number of elements: 8

In [49]:
# normally index of "lukman" is 2 
# but in reverse indexing, the index will be- 
# = normal index - total elements
# = 2 - 8 
# = -6

In [50]:
students[:6]

['bustan', 'shashi', 'lukman', 'nahiyan', 'mustafiz', 'mahin']

In [52]:
students[:8]  # max list index is 7 but slicing allows us to use 8 because it works before this index

['bustan',
 'shashi',
 'lukman',
 'nahiyan',
 'mustafiz',
 'mahin',
 'shafi',
 'shaon']

In [53]:
students[3:6]

['nahiyan', 'mustafiz', 'mahin']

In [59]:
students[:3]

['bustan', 'shashi', 'lukman']

In [58]:
students[3:]

['nahiyan', 'mustafiz', 'mahin', 'shafi', 'shaon']

In [63]:
students[2:8:2] # every third element that has the index between 2 and 8

['lukman', 'mustafiz', 'shafi']

In [67]:
students[-4::-1]

['mustafiz', 'nahiyan', 'lukman', 'shashi', 'bustan']

# string format

Type 1

In [86]:
name, age, town = "thomas shelby", 37, "new york"

In [ ]:
print(msg.format(name, age, town))

In [87]:
msg = "This is {}. He's {} and currently living in {}"

In [85]:
print(msg.format(name, age, town))

KeyError: 'name'

In [88]:
msg.format(name, age, town)

"This is thomas shelby. He's 37 and currently living in new york"

Type 2

In [93]:
msg = f"My name is {name}, I am {age} years young and I live in {town}"

In [94]:
msg

'My name is thomas shelby, I am 37 years young and I live in new york'

In [100]:
limit = 10
txt = f"the range from 0 to {limit}- {[x for x in range(limit)]}"

In [101]:
txt

'the range from 0 to 10- [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'

# string operations

In [ ]:
s =